/.gradle/
/build/
/bootstrap/build/
/common/build/
/legacy/**/build/
/legacy/1.8.9/client/.gradle/
/legacy/1.8.9/client/preview/*.status.json
/legacy/1.8.9/client/run/
/logs/
/crash-reports/
/saves/
/screenshots/
/hs_err_pid*.log
/forge-installer.jar.log
/.idea/
/.vscode/
/.DS_Store
*.iml
